
<div class="allartists">
<h1>Artists</h1>
<%= button_to "Top 10 List", artists_top10_path, method: :get %>

<ul>
<% @artists.each do |artist| %>
    <li><%= link_to artist.name, artist_path(artist) %> (<%= artist.songs.count %> songs)</li>
<% end %>
</ul>

</div>



