<h1>Songs</h1>

<p><%= link_to "Top 10 List", songs_top10_path %></p>

<ul>
<% @songs.each do |song| %>
    <li><%= link_to song.title, song_path(song) %> (<%= link_to song.artist.name, artist_path(song.artist) %>)</li>
<% end %>
</ul>

<%= button_to "Add Song", new_song_path, method: :get %>

